<form class="filters" [formGroup]="form">
  <div class="filters__legend">
    <mat-icon>filter_alt</mat-icon>
    Filter locations
  </div>

  <mat-form-field appearance="outline" class="filters__field" subscriptSizing="dynamic">
    <mat-label>Name</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="text" formControlName="name" placeholder="e.g. Earth" />
    <mat-hint>Type 3+ letters</mat-hint>
    @if (form.controls.name.hasError('minlength')) {
      <mat-error>At least 3 characters</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="filters__field" subscriptSizing="dynamic">
    <mat-label>Type</mat-label>
    <input matInput type="text" formControlName="type" placeholder="e.g. Planet" />
    <mat-hint>Type 3+ letters</mat-hint>
    @if (form.controls.type.hasError('minlength')) {
      <mat-error>At least 3 characters</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="filters__field" subscriptSizing="dynamic">
    <mat-label>Dimension</mat-label>
    <input matInput type="text" formControlName="dimension" placeholder="e.g. Dimension C-137" />
    <mat-hint>Type 3+ letters</mat-hint>
    @if (form.controls.dimension.hasError('minlength')) {
      <mat-error>At least 3 characters</mat-error>
    }
  </mat-form-field>

  <button
    type="button"
    mat-stroked-button
    class="filters__reset"
    [disabled]="form.pristine"
    (click)="reset()"
  >
    <mat-icon>clear</mat-icon>
    Clear
  </button>
</form>
