<form fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="10px" [formGroup]="searchFilterForm">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select placeholder="Gender" formControlName="gender">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let gender of Object.values(GenderEnum)" [value]="gender.toLowerCase()">
        {{ gender }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Species</mat-label>
    <input matInput placeholder="Species" formControlName="species">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select placeholder="Status" formControlName="status">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let status of Object.values(StatusEnum)" [value]="status.toLowerCase()">
        {{ status }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Type</mat-label>
    <input matInput placeholder="Type" formControlName="type">
  </mat-form-field>
  <button (click)="clearForm()" fxFlexAlign="center" mat-raised-button color="warn">
    <mat-icon>delete</mat-icon>
    Clear Form
  </button>
</form>
